table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: #e7e7e7;
}

td, th {
  border: 1px solid #3AC586;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #3A79C5;
}

tr:nth-child(odd) {
  background-color: #3AC586;
}